[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/aadavan03
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/aadavan03
	label-Verified = -1..+1 group user/aadavan03
	push = group user/aadavan03
	read = group user/aadavan03
	rebase = group user/aadavan03
	removeReviewer = group user/aadavan03
	submit = group user/aadavan03
[access "refs/heads/*"]
	create = group user/aadavan03
	push = +force group user/aadavan03
	pushMerge = group user/aadavan03
	read = group user/aadavan03
[access "refs/tags/*"]
	push = group user/aadavan03
	push = +force group user/aadavan03
